.App {
  text-align: center;
  display: flex;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.pdf-uploader {
  flex: 1;
  border-right: 2px solid #ccc;
  padding: 20px;
}

.chat-container {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  outline: none; /* Entfernt den Umriss, der bei Fokussierung sichtbar wird */
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.uploaded-files {
  margin-top: 20px;
}

.uploaded-files h3 {
  margin-bottom: 10px;
}

.uploaded-files ul {
  list-style-type: none; 
  padding: 0;
}

.uploaded-files li {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 5px;
}
